#id_job_city, #id_gender{
    list-style-type: none;
    display: inline-flex;
}

#id_job_city > li {
    padding-left: 20px;
}
#id_gender > li {
    padding-right: 20px;
}
.pl-2{
    padding-left: 10px;
}